:root{
    --Green01: #A7C957;
    --Green02: #8CB369;
    --Yellow01: #FFE496;
    --Yellow02: #EAC143;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* box-sizing: border-box; */
}

html,body{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Inter';
    padding: 2rem 0;
    position: relative;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    object-fit: cover;
}

.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 113px;
    width: 288px;
    border-radius: 16px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
    font-size: 36px;
    font-weight: 900;
}
.hidden-content{
    position: absolute;
    opacity: 0;
}
.title-1{
    font-weight: 900;
}
.button-1,.button-4,.button-6,.button-7,.button-8{
    border: solid 2px var(--Green02);
    color: var(--Green02);
    background-color: white;
}
.button-1:hover,.button-4:hover,.button-6:hover{
    color: white;
    background-color: var(--Green02);
}

.button-3{
    font-size: 32px;
}

.button-4,.button-5,.button-6{
    font-size: 40px;
}

.button-3,.button-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.button-3 span,.button-4 span{
    font-size: 14px;
    color: black;
}

.button-3,.button-5{
    border: solid 2px var(--Green01);
    color: var(--Green01);
    background-color: white;
}

.button-3:hover,.button-5:hover{
    color: white;
    background-color: var(--Green01);
}

.back-btn,.cargo-btn{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 40px;
    border: solid 3px var(--Green02);
    border-radius: 16px;
    font-size: 20px;
    color: var(--Green02);
    font-weight: 900;
}

.back-btn:hover,.cargo-btn:hover{
    background-color: var(--Green02);
    color: #fff;
}

.cargo-btn-wrapper,.total-wrapper{
    width: 314px;
}

.cargo-btn-wrapper{
    display: flex;
    justify-content: flex-end;
}

.total-wrapper{
    font-size: 28px;
    color: var(--Green02);
    font-weight: 900;
    margin-top: 20px;
}

.total-wrapper span{
    padding: 0 1rem;
    font-size: 32px;
    color: black;
}

.button-7,.button-8{
    margin-bottom: 20px;
}

.button-7,.button-8{
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem;
    width: 314px;
    height: 160px;
    color: black;
}

.order-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 314px;
    margin-bottom: 27px;
}

.title-1{
    font-size: 40px;
}

.order-title-btn{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.button-5,.button-6{
    display: flex;
}
.back-btn-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.button-7 img{
    width: 124px;
    height: 124px;
    background-color: white;
}

.button-8 img{
    width: 100px;
    height: 125px;
    /* background-color: var(--Green02); */
}

.btn-txt-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    font-size: 32px;
    font-weight: 700;
}

#page-3 img{
    height: 74px;
    width: 74px;
    margin-right: 3rem;
}
#old-page-3-1 .order-title,#old-page-3-2 .order-title,#old-page-3-3 .order-title{
    align-items: flex-end;
}

#old-page-3-1,#old-page-3-2,#old-page-3-3{
    padding: 2rem 0 4rem 0;
}

/*page-1*/
#page-1 .title-1{
    font-size: 24px;
}
#page-1 img{
    height: 300px;
    width: 300px;
    margin: 1.5rem 0;
}

/*page-2 page-3*/
#page-2,#page-3{
    gap: 2rem;
}

#old-page-8,#old-page-9,#page-4{
    gap: 2rem;
}

#page-2 .title-1,#page-3 .title-1,#old-page-8,#old-page-9{
    font-size: 36px;
}



/*page-2*/
.tip{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

/*normal-page*/
#normal-page{
    justify-content: start;
}
.normal-title{
    background-color: var(--Green02);
    padding: .5rem 0;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.normal-title a{
    position: absolute;
    left: 1rem;
    color: white;
}

.normal-title .ri-arrow-go-back-line{
    font-size: 24px;
}

.normal-nav{
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    width: 307px;
    padding-bottom: 2rem;
    margin-top: 4rem;
}

.normal-nav .nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99px;
    height: 36px;
    background-color: var(--Yellow01);
    opacity: 0.5;
    border-radius: 1rem;
    font-size: 20px;
    font-weight: 600;
}

.nav-active{
    opacity: 1!important;
    background-color: var(--Yellow02)!important;
}

.button-9{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    height: 119px;
    width: 307px;
    border-radius: 16px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.btn-wrapper{
    display: none;
}

.normal-active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-9 img{
    width: 123px;
    height: 102px;
    /* background-color: var(--Green02); */
}

.button-9 .btn-txt-wrapper{
    font-size: 28px;
    color: black;
}

.button-9 .btn-txt-wrapper span{
    font-size: 24px;
}

.normal-cost-wrapper{
    width: 307px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.normal-cost-wrapper .total-wrapper{
    font-size: 24px;
}

.normal-cost-wrapper span{
    font-size: 24px;
}

#normal-page .total-wrapper{
    margin-top: 0;
}

/* old-page-5*/

.product{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img{
    width: 315px;
    height: 315px;
}

.product-title{
    display: flex;
    justify-content: space-between;
    width: 315px;
    margin-top: 1rem;
}

.product-title h3{
    font-size: 36px;
    font-weight: 600;
}

.product-title p{
    font-size: 40px;
    color: var(--Green02);
    font-weight: 600;
}
.price{
    display: inline;
}

.consist{
    width: 315px;
    font-size: 24px;
    text-align: left;
}

.quantity-control,.normal-quantity-control{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 315px;
    margin-top: 4rem;
}

.quantity-control button,.normal-quantity-control button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--Yellow02);
    outline: none;
    border: none;
    font-size: 32px;
    color: #fff;
}

.decrease,.normal-decrease{
    background-color: #D9D9D9!important;
}

.quantity,.normal-quantity{
    font-size: 40px;
    font-weight: 600;
    width: 2.5rem;
    text-align: center;
}

.normal-quantity{
    font-size: 32px;
}

.add-to-cart,.cancel,.normalAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 315px;
    height: 68px;
    border-radius: 16px;
    font-size: 36px;
    font-weight: 600;
    margin-top: 1rem;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.add-to-cart,.normalAdd{
    background-color: var(--Green02);
    color: #fff;
}
.add-to-cart:hover,.normalAdd:hover{
    background-color: var(--Green01);
}

.cancel{
    border: 2px solid var(--Green02);
    color: var(--Green02);
}

.cancel:hover{
    background-color: var(--Green02);
    color: #fff;
}

/*page-6*/
.title-2{
    font-weight: 900;
    font-size: 55px;
    color: var(--Green02);
}
.content{
    margin: 1.5rem 0;
    font-weight: 900;
    font-size: 28px;
}
.amount, .total-money, .num{
    display: inline;
    color: var(--Yellow02);
}

/*normal product*/
.normal-product{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.normal-product img{
    width: 278px;
    height: 248px;
    background-color: var(--Green02);
}

.normal-product-title{
    display: flex;
    justify-content: space-between;
    width: 278px;
    margin-top: 2rem;
}

.normal-product-title h3{
    font-size: 32px;
    font-weight: 600;
}

.normal-product-title p{
    font-size: 32px;
    color: var(--Green02);
    font-weight: 600;
}
.price,.price1{
    display: inline;
}

.normal-consist{
    width: 278px;
    font-size: 24px;
    text-align: left;
    margin-top: 1rem;
}

.normalAdd{
    width: 278px;
    font-size: 32px;
}

.success{
    opacity: 0; /* 初始為透明 */
    visibility: hidden; /* 初始為不可見 */
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    outline: 0;
    text-align: center;
    font-weight: 600;
    letter-spacing: .5rem;
    padding: 2rem;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

.pop-up{
    animation: successShow 2s;
}

@keyframes successShow {
    0% {
        top: -8rem;
        opacity: 0;
        visibility: hidden; /* 確保不可見 */
    }
    15% {
        visibility: visible; /* 動畫開始時設為可見 */
        opacity: 1;
        top: 2rem;
    }
    85% {
        opacity: 1;
        top: 2rem;
    }
    100% {
        opacity: 0;
        top: 4rem;
        visibility: hidden; /* 動畫結束後設為不可見 */
    }
}

/* old page 6 */

.finish,.continue{
    width: 281px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 40px;
    font-weight: 600;
    margin-top: 1rem;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.finish{
    background-color: var(--Green02);
    color: #fff;
}

.continue{
    border: 2px solid var(--Green02);
    color: var(--Green02);
}

.continue:hover{
    background-color: var(--Green02);
    color: #fff;
}

#old-page-6 .title-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-product-num{
    color: var(--Yellow02);
    margin-left: .5rem;
}

/* old-page-7 */
#old-page-7{
    padding: 2rem 0;
}

.button-10{
    width: 307px;
    height: 119px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    font-weight: 600;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--Green02);
    position: relative;
    box-sizing: border-box;
    padding: .5rem;
}

#old-page-7 .button-10{
    margin-bottom: 20px;
}

#old-page-7  .button-10 .close{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: black;

}

#old-page-7  .button-10 img{
    width: 102px;
    height: 102px;
    background-color: var(--Green02);
}

#old-page-7  .btn-10-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

#old-page-7 .cart-txt-wrapper,.cart-btn-wrapper{
    display: flex;
    align-items: center;
}

#old-page-7 .cart-txt-wrapper{
    font-size: 2rem;
    font-weight: 600;
    gap: 1rem;
}

#old-page-7 .cart-btn-wrapper{
    justify-content: space-between;
    
}

#old-page-7 .cart-btn-wrapper span{
    font-size: 24px;
}

#old-page-7 .cart-decrease,.cart-increase{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    background-color: var(--Yellow02);
}

#old-page-7 .cart-decrease{
    background-color: #D9D9D9;
}

#old-page-7 .cart-quantity{
    font-size: 2rem;
}

#old-page-7 .total-wrapper{
    width: 307px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.total-wrapper .line{
    width: 100%;
    height: 2px;
    background-color: black;
}

#old-page-7 .total-quantity,.total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#old-page-7 .total-wrapper span{
    font-size: 2rem;
    font-weight: 600;
}

#old-page-7 .confirm-btn-wrapper{
    width: 307px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    margin: 1rem 0 2rem 0;
}

#old-page-7 .confirm-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    gap: 1.5rem;
}

#old-page-7 .confirm-left a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0.2rem 0;
    color: var(--Green02);
    width: 169px;
    border-radius: .5rem;
    border: 2px solid var(--Green02);
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
}

#old-page-7 .confirm-right{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    width: 100px;
    height: 100px;
    border-radius: 0.5rem;
    background-color: var(--Green02);
    color: #fff;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
}

/* old-page-9*/
#old-page-9 .title-1{
    text-align: center;
}

#old-page-9 .title-1 span{
    font-size: 32px;
}

/* page-4*/

#page-4 .title-1,#page-4 .button{
    font-size: 36px;
}

#page-5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    background-color: var(--Green02);
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    line-height: 2;
    text-align: center;
}

#page-5 span{
    font-size: 20px;
    opacity: 0.8;
}

.clock{
    padding-right: .5rem;
}

.normal-cart{
    width: 307px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.normal-cart-title{
    width: 307px;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.normal-cart-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.normal-cart-list-quality{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.normal-cart-list-name{
    font-size: 2rem;
    font-weight: 600;
}

.normal-cart-list-price{
    font-size: 20px;
    font-weight: 600;
}

.normal-cart-list-decrease,.normal-cart-list-increase{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--Yellow02);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.normal-cart-list-decrease{
    background-color: #D9D9D9;
}

.normal-cart-list-quantity{
    font-size: 20px;
    font-weight: 600;
}

.normal-total-quantity,.normal-total-price{
    display: flex;
    justify-content: space-between;
}

.normal-total-wrapper{
    font-size: 20px;
    width: 307px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 600;
}

.normal-total-wrapper .line{
    width: 100%;
    height: 2px;
    background-color: black;
}

.normal-total-wrapper h3{
    color: var(--Green02);
}

.normal-button-wrapper{
    width: 307px;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.normal-button-wrapper .upper{
    align-self: center;
    background-color: var(--Green02);
    border-radius: 1rem;
    color: #fff;
    width: 124px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.normal-button-wrapper .upper:hover{
    background-color: var(--Green01);
}

.normal-button-wrapper .lower{
    display: inline-flex;
    justify-content: space-between;
}

.lower-left,.lower-right{
    border: 2px solid var(--Green02);
    border-radius: 1rem;
    width: 140px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--Green02);
}

.lower-left:hover,.lower-right:hover{
    background-color: var(--Green02);
    color: #fff;
}







